<div class="nav-bar">
    <div class="nav-bar-brand">
        <span class="title">Service Monitor</span>
    </div>
    <ul class="nav-items">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="audit">
                <span class="oi oi-document" aria-hidden="true"></span> Document Audit
            </NavLink>
        </li>
    </ul>
</div>

@code {

}
